<!-- Card -->
<div class="m-md-2 p-2 card">
  <!-- Cards Avatar -->
  <img
    [src]="person.avatar"
    style="border-radius: 4px; max-width: 70%; max-height: 70%; margin: auto;"
    [alt]="person.name"
  />
  <!-- Cards Username -->
  <div class="col-12">
    <span
      class="card-text"
      style="font-size: calc(1.4rem); font-weight: 300; color: #000000;"
    >
      {{ person.username | titlecase }}
    </span>
  </div>
  <!-- Cards Name -->
  <div class="col-12">
    <span
      class="card-text"
      style="font-size: calc(1.4rem); font-weight: 300; color: #000000;"
    >
      {{ person.name | titlecase }}
    </span>
  </div>
  <!-- Cards Service -->
  <div class="col-12">
    <span
      class="card-text"
      style="font-size: calc(1.4rem); font-weight: 300; color: #000000;"
    >
      {{ person.service | titlecase }}
    </span>
  </div>
  <!-- Cards Rate -->
  <div class="col-12">
    <span
      class="card-text"
      style="font-size: calc(1.4rem); font-weight: 300; color: #000000;"
    >
      {{ rate | number }}
      <mat-icon>
        star
      </mat-icon>
    </span>
  </div>
  <div class="row">
    <div class="col">
      <button
        mat-button
        style="width: 100%;"
        (click)="openComments(person, true)"
      >
        Comment
      </button>
    </div>
    <div class="col">
      <button
        mat-button
        style="width: 100%;"
        (click)="openComments(person, false)"
        [disabled]="person.comments.length === 0"
      >
        View comments ({{ person.comments.length }})
      </button>
    </div>
  </div>
</div>
