<!-- Card -->
<div class="m-2 p-2 card">
  <!-- Cards Avatar -->
  <div class="co-12">
    <img
      [src]="person.avatar"
      style="border-radius: 4px; width: 230px; height: 230px;"
      [alt]="person.name"
    />
  </div>
  <!-- Cards Username -->
  <div class="col-12">
    <span
      class="card-text"
      style="font-size: 18pt; font-weight: 300; color: #000000;"
    >
      {{ person.username | titlecase }}
    </span>
  </div>
  <!-- Cards Name -->
  <div class="col-12">
    <span
      class="card-text"
      style="font-size: 18pt; font-weight: 300; color: #000000;"
    >
      {{ person.name | titlecase }}
    </span>
  </div>
  <!-- Cards Service -->
  <div class="col-12">
    <span
      class="card-text"
      style="font-size: 18pt; font-weight: 300; color: #000000;"
    >
      {{ person.service | titlecase }}
    </span>
  </div>
  <!-- Cards Rate -->
  <div class="col-12">
    <span
      class="card-text"
      style="font-size: 18pt; font-weight: 300; color: #000000;"
    >
      {{ person.rate | number }}
      <mat-icon>
        star
      </mat-icon>
    </span>
  </div>
  <div class="row">
    <div class="col">
      <button
        mat-button
        style="width: 100%;"
        (click)="openComments(person, true)"
      >
        Comment
      </button>
    </div>
    <div class="col">
      <button
        mat-button
        style="width: 100%;"
        (click)="openComments(person, false)"
        [disabled]="person.comments.length === 0"
      >
        View comments ({{ person.comments.length }})
      </button>
    </div>
  </div>
</div>
