html,
body {
  padding: 0;
  margin: 0;
  background-color: #303a52;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-container {
  background-color: #fc85ae;
  padding: 45px;
  position: fixed;
  top: 100px;
  border-radius: 4px 50px 4px 50px;
  width: 32%;
}

.people-container {
  background-color: #fc85ae;
  padding: 10px;
  border-radius: 4px;
}

mat-card {
  text-align: center;
  background-color: #574b90 !important;
}

mat-expansion-panel {
  margin: 2px !important;
}

mat-expansion-panel>.mat-expansion-panel-content {
  display: block !important;
  overflow: visible;
}

mat-card-title,
mat-card-subtitle,
mat-card-content,
mat-card-actions,
.mat-flat-button {
  color: #ffffff !important;
}

.mat-flat-button {
  background-color: #9e579d;
  margin: 10px !important;
}

mat-card > .mat-card-image {
  margin: 0;
  border-radius: 50px 50px 4px 4px;
}

.field .label {
  font-weight: 500;
}

.title-app {
  background-color: #9e579d;
  margin: 0px 0px 10px 10px;
  padding: 10px;
  height: 55px;
  width: 32%;
  border-radius: 50px 4px 50px 4px;
  top: 10px;
  position: fixed;
}

.title-white {
  color: #ffffff;
}
