* {
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  background-color: #e2e1e0;
}

.app-title {
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  top: 0;
  position: sticky;
  z-index: 1;
}

.app-title-text {
  font-size: 24pt;
  color: #000000;
  font-weight: 400;
}

.card {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.form-container {}

.show-form-container {
  height: auto;
  opacity: 1;
  transition: opacity 200ms;
}

.hide-form-container {
  opacity: 0;
  height: 0;
  transition: opacity 200ms;
}
