<!-- <div class="title-app text-center">
  <div class="col-12">
    <p class="title">Rating People</p>
  </div>
</div>
<div class="row p-2" style="margin-right: 0;">
  <div class="col col-4">
    <div class="form-container">
      <div class="field">
        <label class="label title-white">Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" />
        </div>
      </div>
      <div class="field">
        <label class="label title-white">Subject</label>
        <div class="control">
          <div class="select">
            <select>
              <option>Select dropdown</option>
              <option>With options</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label title-white">Message</label>
        <div class="control">
          <textarea class="textarea" placeholder="Textarea"></textarea>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox title-white">
            <input type="checkbox" />
            I agree to the <a href="#">terms and conditions</a>
          </label>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button mat-flat-button class="success">Submit</button>
        </div>
        <div class="control">
          <button mat-flat-button class="danger">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-8">
    <div class="row people-container">
      <div style="padding: 3px;" class="col-12">
        <div class="field">
          <div class="control">
            <input
              #filterField
              class="input"
              type="text"
              placeholder="Search..."
            />
          </div>
        </div>
      </div>
      <div
        class="col-3 p-1"
        *ngFor="let person of people | customFilter: filterField.value"
      >
        <mat-card>
          <mat-card-title>{{ person.username | titlecase }}</mat-card-title>
          <mat-card-subtitle>{{ person.name | titlecase }}</mat-card-subtitle>
          <img
            mat-card-image
            [src]="person.avatar"
            alt="Photo of {{ person.name }}"
          />
          <mat-card-content class="text-center">
            <p class="title title-white mt-2">
              {{ person.rate }} <mat-icon>star</mat-icon>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <div
              class="row"
              style="margin-right: auto;
                        margin-left: auto;
                        width: fit-content;
                      "
            >
              <ngb-rating max="5" [(rate)]="person.rate"></ngb-rating>
            </div>
            <mat-expansion-panel>
              <mat-expansion-panel-header
                >Comments (
                {{ person.comments.length | number }}
                )</mat-expansion-panel-header
              >
              <div *ngFor="let comment of person.comments">
                <div class="row" style="margin: 0;">
                  <span>
                    {{ comment.content | titlecase }}
                  </span>
                </div>
                <br />
                <div class="row" style="margin: 0;">
                  <span style="margin-left: auto;">
                    {{ comment.time | date }}
                  </span>
                </div>
                <hr />
              </div>
            </mat-expansion-panel>
            <div class="field">
              <label class="label title-white">Comment</label>
              <div class="control">
                <textarea
                  #commentField
                  class="textarea"
                  placeholder="Leave your comment"
                ></textarea>
              </div>
            </div>
            <button
              mat-flat-button
              class="success"
              (click)="comment(person.id, commentField.value)"
            >
              COMMENT
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div> -->

<!-- Header -->
<div class="row m-4 app-title">
  <div class="col-12 p-4 text-center">
    <span class="app-title-text">
      <mat-icon>star</mat-icon>
      Rating People
      <mat-icon>star</mat-icon>
    </span>
    <button mat-stroked-button style="float: right;" (click)="showPersonForm()">
      <mat-icon *ngIf="!enablePersonForm">
        add
      </mat-icon>
      <mat-icon *ngIf="enablePersonForm">
        remove
      </mat-icon>
    </button>
  </div>
  <!-- <ng-container *ngIf="enablePersonForm"> -->
  <div class="row form-container hide-form-container col-12 mx-auto">
    <div class="col-4">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Name</mat-label>
        <input #name matInput placeholder="Placeholder" value="" />
        <mat-icon matSuffix>person</mat-icon>
        <mat-hint>Enter blah, blah...</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Username</mat-label>
        <input #username matInput placeholder="Placeholder" value="" />
        <mat-icon matSuffix>person</mat-icon>
        <mat-hint>Enter blah, blah...</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Service</mat-label>
        <mat-select #service>
          <mat-option value="" selected disabled>Select a service</mat-option>
          <mat-option value="uber">Uber</mat-option>
          <mat-option value="cabify">Cabify</mat-option>
          <mat-option value="didi">DiDi</mat-option>
        </mat-select>
        <mat-hint>Enter blah, blah...</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-2 mx-auto mb-2">
      <button
        mat-button
        style="width: 100%; font-size: 15pt;"
        [disabled]="
          name.value === '' ||
          username.value === '' ||
          service.value === undefined
        "
        (click)="addPerson(name.value, username.value, service.value)"
      >
        Add
      </button>
    </div>
  </div>
  <!-- </ng-container> -->
</div>

<!-- Body -->
<div
  class="m-4"
  style="background: #ffffff; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);"
>
  <!-- Title body -->
  <div class="row m-2 pt-2">
    <div class="col-12 text-center">
      <span style="font-size: 24pt; color: #000000; font-weight: 400;">
        People
      </span>
      <button mat-stroked-button style="float: right;">
        <mat-icon>
          search
        </mat-icon>
      </button>
    </div>
  </div>

  <!-- Cards body -->
  <div class="row mx-auto">
    <!-- Cards -->
    <div class="col-3 text-center" *ngFor="let person of people">
      <!-- Card -->
      <div class="m-2 p-2 card">
        <!-- Cards Avatar -->
        <div class="co-12">
          <img
            [src]="person.avatar"
            width="230"
            height="230"
            style="border-radius: 4px;"
            [alt]="person.name"
          />
        </div>
        <!-- Cards Username -->
        <div class="col-12">
          <span
            class="card-text"
            style="font-size: 18pt; font-weight: 300; color: #000000;"
          >
            {{ person.username | titlecase }}
          </span>
        </div>
        <!-- Cards Name -->
        <div class="col-12">
          <span
            class="card-text"
            style="font-size: 18pt; font-weight: 300; color: #000000;"
          >
            {{ person.name | titlecase }}
          </span>
        </div>
        <!-- Cards Rate -->
        <div class="col-12">
          <span
            class="card-text"
            style="font-size: 18pt; font-weight: 300; color: #000000;"
          >
            {{ person.rate | number }}
            <mat-icon>
              star
            </mat-icon>
          </span>
        </div>
        <div class="row">
          <div class="col">
            <button mat-button style="width: 100%;" (click)="openComments(person.id)">
              Comment
            </button>
          </div>
          <div class="col">
            <button mat-button style="width: 100%;" (click)="openComments(person.id)">
              View comments
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
