<div class="title-app text-center">
  <div class="col-12">
    <p class="title title-white">Rating People</p>
  </div>
  <div class="col-12">
    <mat-icon class="title-white">star</mat-icon>
    <mat-icon class="title-white">star</mat-icon>
    <mat-icon class="title-white">star</mat-icon>
    <mat-icon class="title-white">star</mat-icon>
    <mat-icon class="title-white">star</mat-icon>
  </div>
</div>
<div class="row p-2">
  <div class="col col-4">
    <div class="form-container">
      <div class="field">
        <label class="label title-white">Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" />
        </div>
      </div>
      <div class="field">
        <label class="label title-white">Subject</label>
        <div class="control">
          <div class="select">
            <select>
              <option>Select dropdown</option>
              <option>With options</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label title-white">Message</label>
        <div class="control">
          <textarea class="textarea" placeholder="Textarea"></textarea>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox title-white">
            <input type="checkbox" />
            I agree to the <a href="#">terms and conditions</a>
          </label>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Submit</button>
        </div>
        <div class="control">
          <button class="button is-link is-light">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-8">
    <div class="row people-container">
      <div style="padding: 3px;" class="col-12">
        <div class="field">
          <div class="control">
            <input class="input" type="text" placeholder="Search..." />
          </div>
        </div>
      </div>
      <div class="col-3 p-1" *ngFor="let person of people">
        <mat-card>
          <mat-card-title>{{ person.username | titlecase }}</mat-card-title>
          <mat-card-subtitle>{{ person.name | titlecase }}</mat-card-subtitle>
          <img
            mat-card-image
            [src]="person.avatar"
            alt="Photo of {{ person.name }}"
          />
          <mat-card-content class="text-center">
            <p class="title title-white mt-2">
              {{ person.rate }} <mat-icon>star</mat-icon>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <div
              class="row"
              style="margin-right: auto;
                        margin-left: auto;
                        width: fit-content;
                      "
            >
              <button mat-icon-button><mat-icon>star</mat-icon></button>
              <button mat-icon-button><mat-icon>star</mat-icon></button>
              <button mat-icon-button><mat-icon>star</mat-icon></button>
              <button mat-icon-button><mat-icon>star</mat-icon></button>
              <button mat-icon-button><mat-icon>star</mat-icon></button>
            </div>
            <mat-expansion-panel>
              <mat-expansion-panel-header
                >Comments (
                {{ person.comments.length | number }}
                )</mat-expansion-panel-header
              >
              <div *ngFor="let comment of person.comments">
                <div class="row" style="margin: 0;">
                  <span>
                    {{ comment.content | titlecase }}
                  </span>
                </div>
                <br />
                <div class="row" style="margin: 0;">
                  <span style="margin-left: auto;">
                    {{ comment.time | date }}
                  </span>
                </div>
                <hr />
              </div>
            </mat-expansion-panel>
            <div class="field">
              <label class="label title-white">Comment</label>
              <div class="control">
                <textarea
                  #commentField
                  class="textarea"
                  placeholder="Leave your comment"
                ></textarea>
              </div>
            </div>
            <button
              mat-flat-button
              (click)="comment(person.id, commentField.value)"
            >
              COMMENT
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
