<div class="row">
  <div class="col-10 col-md-6 mx-auto text-center">
    <p class="app-title-text" style="font-size: calc(1.4rem);">
      {{ data.title }} Comments
    </p>
  </div>
  <button
    mat-stroked-button
    style="float: right;"
    (click)="enableCommentsForm = !enableCommentsForm ? true : false"
  >
    <mat-icon *ngIf="!enableCommentsForm">
      add
    </mat-icon>
    <mat-icon *ngIf="enableCommentsForm">
      remove
    </mat-icon>
  </button>
  <div class="col-12" *ngIf="enableCommentsForm">
    <app-comments-form></app-comments-form>
  </div>
  <div class="col-12" *ngFor="let comment of (person$ | async).comments">
    <div class="row">
      <span style="float: left;">
        <ngb-rating
          [rate]="comment.rate"
          [readonly]="true"
          max="5"
        ></ngb-rating>
        {{ comment.rate }}/5
      </span>
    </div>
    <div class="row">
      {{ comment.comment }}
    </div>
    <span style="float: right;">
      {{ comment.time | date }}
    </span>
  </div>
</div>
